# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run: yarn test

  deploy:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run:
          name: Can i do this?
          command: ls -al
      - run:
          name: Run setup script
          command: bash ./.circleci/heroku.sh
      - add_ssh_keys:
          fingerprints:
            - "66:fa:7d:6c:5d:99:b1:67:0b:47:af:a5:16:b2:81:36"
      - run:
          name: Deploy Master to Heroku
          command: |
            git push --force git@heroku.com:heroku_test.git HEAD:refs/heads/master
            heroku run python manage.py deploy
            heroku restart
               
workflows:
   version: 2
   build-deploy:
     jobs:
       - build
       - deploy:
           requires:
             - build
           filters:
             branches:
               only: master


